body,
html {
    height: 100%;
    margin: 0;
    background-image: url("../images/background.png");
    /* Example gradient background */
    font-family: 'Open Sans', sans-serif;
}

.container {
    background: #090c33;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    color: white;
    /* or center vertically */
}

/* Header Styles */
.header-logo {
    height: 50px;
    width: auto;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: #0056b3;
    /* Darken button color on hover/focus */
}

.button--success {
    background-color: #28a745;
}

.button--danger {
    background-color: #dc3545;
}

/* Chat Section */
.chatHistory {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.message {
    padding: 5px;
    margin-bottom: 10px;
}

.ai-message {
    background-color: #b10a0a;
    color: #090c33;
}

.user-message {
    text-align: right;
    background-color: #007bff;
    color: #090909;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .header-logo {
        height: 40px;
    }

    .chatHistory {
        height: 200px;
    }
}

/* Alert Box */
.alertBox {
    padding: 10px;
    margin-top: 20px;
    color: #fff;
}

.alertBox--error {
    background-color: #dc3545;
}

.alertBox--success {
    background-color: #28a745;
}

/* Toast Container for notifications */
#toastContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: #0056b3;
    /* Darken button color on hover/focus */
}

#userPrompt {
    background-color: #444444;
    color: #090909;
    color: white;
    width: 97%;

}